# virtual envs
.venv-linux
.venv
.win-env
.win-env2

.idea
# pycache
**/__pycache__
**/__pycache__/

.pytest_cache

productivity_data/*
productivity_logs
logs

# Virtual envs
.env


deskSense.egg-info

temp.py

events.csv

*.csv

*.sql

*.txt
!requirements.txt

fix_commits.py