# virtual envs
.venv-linux
.venv
.idea
# pycache
**/__pycache__
**/__pycache__/

.pytest_cache

productivity_data/*
productivity_logs
logs

.env
deskSense.egg-info

temp.py

events.csv

*.csv

*.sql

*.txt
!requirements.txt